<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stwórz nowy egzamin</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div class="container">
    <h1>Stwórz nowy egzamin</h1>
    <p>Kategoria: <span th:text="${exam.category}"></span></p>
    <p>Grupa: <span th:text="${exam.instrumentGroup}"></span></p>
    <p>Termin egzaminu: <span th:text="|${#temporals.format(exam.examDate, 'yyyy-MM-dd HH:mm:ss')}|"></span></p>

    <form th:action="@{/questions/getDatabaseQuestions/{examId} (examId=${examId})}" method="get">
        <input type="hidden" name="examId" th:value="${examId}" />
        <button type="submit">Dodaj pytanie z bazy danych</button>
    </form>

    <form th:action="@{/questions/chooseQuestionType/{examId} (examId=${examId})}" method="get">
        <input type="hidden" name="examId" th:value="${examId}" />
        <button type="submit">Dodaj nowe pytanie</button>
    </form>
</div>
</body>
</html>

<div class="form-buttons">
    <form th:action="@{/exam/chooseQuestionsTypeToAdd/{examId} (examId=${examId})}" method="get">
        <input type="hidden" name="examId" th:value="${examId}" />
        <button class="bottom-button" type="submit">Dodaj nowe pytanie do egzaminu</button>
    </form>
    <form th:action="@{/exam/created}" method="get">
        <button class="bottom-button" type="submit">Zakończ egzamin</button>
    </form>
</div>

