<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wybierz typ pytania</title>
</head>
<body>
<h1>Wybierz typ pytania</h1>
<!--NA RAZIE TEGO NIE UZYWAMY, MOZE W PRZYSZLOSCI BEDZIEMY-->
<form th:action="@{/questions/getDatabaseQuestions}" method="get">
  <input type="hidden" name="examId" th:value="${examId}" />
  <button type="submit">Pytania otwarte</button>
</form>
<form th:action="@{/questions/getDatabaseClosedQuestions}" method="get">
  <input type="hidden" name="examId" th:value="${examId}" />
  <button type="submit">Pytania zamknięte</button>
</form>
</body>
</html>