<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <title>Stwórz nowy egzamin</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
<div class="container">
    <h1>Stwórz nowy egzamin</h1>
    <form method="post" action="/exam/save" th:object="${exam}">
        <label for="category">Kategoria</label>
        <input th:field="*{category}" name="category" id="category" type="text">

        <label for="instrumentGroup">Grupa</label>
        <input th:field="*{instrumentGroup}" name="instrumentGroup" id="instrumentGroup" type="text">

        <label for="examDate">Termin egzaminu</label>
        <input th:field="*{examDate}" name="examDate" id="examDate" type="datetime-local">

        <button type="submit" name="submitButton" value="database">Dodaj pytanie z bazy danych</button>
        <button type="submit" name="submitButton" value="new">Dodaj nowe pytanie</button>
    </form>
</div>
</body>
</html>
