<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Pytania zamkniete</title>
</head>
<body>
<h1>Pytania z bazy danych</h1>
<h2>Wybierz pytanie:</h2>
<form th:action="@{/exam/{examId}/addClosedQuestionToExam(examId=${examId})}" method="post">
  <ul class="question-list">
    <li th:each="question : ${question}">
      <label>
        <input type="checkbox" name="selectedQuestions" th:value="${question.id}"  />
        <span th:text="${question.text}"></span>
      </label>
    </li>
  </ul>
  <button type="submit" name="addQuestion" value="true">Dodaj pytanie</button>
</form>
</body>
</html>
