/* Resetowanie domyślnych styli dla elementów */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Globalne style */
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(1, 1, 1, 0.1);
    padding: 30px;
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    color: #333;
}

.input-label label[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-column {
    gap: 10px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

form button[type="submit"] {
    background-color: #787e86;
    color: #0b0b0b;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #cecece;
}

.checkbox-text {
    font-weight: normal;
}
