body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(1, 1, 1, 0.1);
    padding: 30px;
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    color: #333;
}

.input-label label[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;

}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Dodany odstęp między elementami w kolumnie */
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px; /* Dodany odstęp między checkboxem a polem tekstowym */
}

.checkbox-input {
    width: 20px;
    height: 20px;
    /* Dodaj wycentrowanie */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

form button[type="submit"] {
    background-color: #787e86;
    color: #0b0b0b;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #cecece;
}
